
.sidebar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 1.5rem;
    width: 25%;
    height: 100vh;
    transition: 0.5s all;
    overflow-y: auto;
    overflow-x: hidden;
    .logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        h2.title {
            font-size: 31.42px;
            color: #000000;
            // padding: 0 0 0 1rem;
        }
    }
    .logoContainer.active {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .toggleIcon {
        position: absolute;
        right: -5.5px;
        top: 1rem;
        width: 35px;
        height: 35px;
        z-index: 1;
        cursor: pointer;
    }

    .contentsContainer {
        margin: 2rem 0 0 0;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 0.10rem 0;
                padding: 0.60rem 0;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;
                height: 60px;


                img {
                    padding: 0 0 0 0.5rem;
                    width: 35px;
                    height: 30px;
                }

                a {
                    text-decoration: none;
                    color: #757784;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 0.5rem;
                }
            }

            li.active {
                background-color: #758AFF1A;
                border-left: #758AFF solid 4px;

                a {
                    color: #758AFF;
                }
            }

            li:hover {
                background-color: #758AFF1A;
                border-left: #758AFF solid 4px;
                transition: 0.25s;

                a {
                    color: #758AFF;
                }
            }
        }
    }
}

.sidebar.active {
    width: 8.5%;
    transition: 0.5s all;
    .logoContainer.active h2.title,
    .profileContainer .profileContents,
    .contentsContainer .sidebar-text {
        opacity: 0;
    }


}